name: Staging Deployment

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/math-score-prediction:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/math-score-prediction:latest

      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_SSH_KEY }}
          port: 7029  # <--- Added custom SSH port
          script_stop: true
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/math-score-prediction:latest
            docker stop staging_app || true
            docker rm staging_app || true
            # Using 8080 to avoid the Nginx conflict
            docker run -d --name staging_app -p 1759:8000 ${{ secrets.DOCKER_USERNAME }}/math-score-prediction:latest
            # CLEANUP: Remove unused images, stopped containers, and dangling networks
            # This keeps your server disk from filling up over time
            docker system prune -f